body{
    background-color: blanchedalmond;
    
    }
    div{

    }
    
    .main{
       max-width: 1000px;
       max-height: 844px;
       margin: auto;
    
    }
    .top{
 
    }
    .logo{
    display: flex;
      justify-content: center;
      align-items: center;
    }

    .meny{
        max-width: 410px;
        margin: auto;
        
        }